.box{
    border:2px solid black;
    width:350px;
    height:650px;
    background-color:black;
    margin:50px auto;
    border-radius:4%;
    display:flex; 
    flex-wrap: wrap;
    align-content:flex-end;
    gap:5px;
    justify-content:center;
    
}
.cal{
    
    border-radius:50%;
    width:80px;
    height:80px;
    
}
#b1, #b2 ,#b3{
    background-color:grey;
}

#b4, #b8 , #b12, #b16,#b19{
    background-color:yellow;
}


